*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color: black;
    color: white;
}
.nav{
    display: flex;
    justify-content: space-around;
    background-color: rgb(13, 13, 183);
    padding-bottom:15px ;
    
}
.right{
   display: flex;
   justify-content: space-between;
}
.left{
    margin-left: -350px;
}
.hov:hover{
    background-color: rgba(159, 154, 154, 0.79);
    color: black;
    padding: 15px 25px 0px 25px

}
.picture{
    background-image: url(Avatar.jpeg) ;
    border: 5px dotted white;
    height: 250px;
    width: 250px;
    border-radius: 50%;
    background-size: contain;
    float: right;
    margin-right: 70px;
    margin-top: 20px;
}