.box{
  height: 200px;
  width: 100%;
  text-align: center;
 
  
}
a{
  text-decoration: none;
  display: grid;
  row-gap: 10px;
  height: 50px;
  width: 50px;
}
  #home{
    text-decoration: none;
    font-size: 2 rem;
    display: grid;
    color: rgb(180, 177, 177);
    cursor: pointer;
    gap: 20px;
  }
  #home:hover{
    color: rgb(251, 252, 255);
  }
  .nav{
    display: flex;
    column-gap:500px ;
  
  }
  * {
    box-sizing: border-box;
  }
  
  body {
    min-height: 100vh;
    background-color: #0f172a;
    overflow-x: hidden ;
    
  }
 #menu{
  width: 300px;
  margin-left: 15px;
 }
  
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    flex-wrap: wrap;
    gap: 5rem;
    width: 100%;
  }
  
  .main {
    width: 80ch;
    max-width: 100%;
  
  }
  
  .card {
    background: hsl(0 0% 10%);
  
    width: 200px;
    aspect-ratio: 4 / 3;
    position: relative;
    transition: background 0.1s;
    float: right;
    margin-left: 500px;
    box-shadow:  0 0 10px rgba(128, 128, 128, 0.8);
   
  }
  
  .card:hover {
    --active: 1;
    
  }
  
  .card:after {
    content: "";
    position: absolute;
    inset: 0;
    background:
      radial-gradient(circle at calc(var(--x) * 1px) calc(var(--y) * 1px), hsl(0 100% 100% / 0.15), transparent 35vmin);
    background-attachment: fixed;
    opacity: var(--active, 0);
    transition: opacity 0.10s;
    pointer-events: none;
  }
  
  .card:before {
    content: "";
    position: absolute;
    inset: 0;
    background:
      radial-gradient(circle at calc(var(--x) * 1px) calc(var(--y) * 1px), hsl(0 0% 100% / 0.5), transparent 15vmin),
      transparent;
    background-attachment: fixed;
    pointer-events: none;
    mask:
      linear-gradient(white, white) 50% 0 / 100% 10px no-repeat,
      linear-gradient(white, white) 50% 100% / 100% 10px no-repeat,
      linear-gradient(white, white) 0 50% / 4px 100% no-repeat,
      linear-gradient(white, white) 100% 50% / 10px 100% no-repeat;
  }
  
  span {
    font-family: sans-serif, system-ui;
    bottom: 0.65rem;
    right: 0.65rem;
    font-weight: bold;
    font-size: 4rem;
    color: #B0AFAF;
  }
  p{
    color: rgb(176, 175, 175);
    font-size: 1.4rem;
  }
  .btn{
    height: 50px;
    width: 200px;
    border: 2px solid white ;
    background-color: transparent;
    color: white;
    text-align: center;
    padding-top: 15px;
    margin-top: 150px;
    box-shadow:  0 0 20px rgba(128, 128, 128, 0.8);

  }
  .btn:hover{
    background-color: rgba(255, 255, 255, 0.112);
    box-shadow:  none;

  }
  .socials{
    display: flex;
    margin-top: -800px;
    margin-left: 35px ;

  }
  
  .fa-brands{
    color: #B0AFAF;
    
  }
  .fa-brands:hover{
    color: white !important;
  }
  .fa-regular{
    color: #B0AFAF;
  }
  .fa-regular:hover{
    color: white !important;
  }
  .contain{
    display: grid;
  }

#one{
  width: 650px;
  height: 200px;
  color: white;
}


.education{
  display: flex;
  float: right;
  margin-top: 90px;

}

#edu{
  width: 650px;
  height: 200px;
  color: white;
  text-align: center;
  margin-top: 10px;

}
li{
  gap: 50px;
}
#pro{
  width: 650px;
  height: 200px;
  color: #B0AFAF;
  text-align: center;
  margin-top: 10px;

}
.project{
  margin-top: 1100px;
}
.rest{
  display: flex;
  gap: 100px;
  justify-content: center;

}
.b1{
  height: 50px;
  width: 500px;
 border-left: 2px solid white;
 margin-left: 300px;
 font-size: 1.6rem;
 

}
.b2{
  height: 50px;
  width: 500px;
  border-left: 2px solid white;
  font-size: 1.6rem;
}
.b3{
  height: 50px;
  width: 500px;
  border-left: 2px solid white;
  font-size: 1.6rem;
}



#element{
  color: #B0AFAF;
  font-size: 4rem;
}

.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
.dot p {
  display: inline-flex;
  font-size: 5 rem;

}
.dot:hover{
  color: white;
} 
.slide{
  display: none;
}
#slate{
  margin-right: 1050px;
  margin-top: 15px;
  box-shadow:  0 0 10px rgba(128, 128, 128, 0.8);

}
#secStyle{
  margin-right: 600px;
  margin-top: 15px;
  box-shadow:  0 0 10px rgba(128, 128, 128, 0.8);

}
#thrstyle{
  margin-right: 170px;
  margin-top: 15px;
  color: #B0AFAF;
  box-shadow:  0 0 10px rgba(128, 128, 128, 0.8);

}
form{
  height: 550px;
  width: 700px;
  box-shadow:  0 0 10px rgba(128, 128, 128, 0.8);
  background-color: transparent;
  text-align: center;
  color: white;
  margin-top: 800px;
  margin-top: -20px;
  margin-left: 400px;

 
 
}
form:hover{
  box-shadow:  none;
  background-color: rgba(183, 174, 174, 0.14);
}
#name{
  width: 280px;
  height: 45px;
  border: 1px solid black;
  box-shadow:  0 0 10px rgba(128, 128, 128, 0.8);
  border-radius: 2cqi;

}
#mail{
  width: 280px;
  height: 45px;
  border: 1px solid black;
  box-shadow:  0 0 30px rgba(128, 128, 128, 0.868);
  border-radius: 2cqi;

}
#num{
  width: 280px;
  height: 45px;
  border: 1px solid black;
  box-shadow:  0 0 10px rgba(128, 128, 128, 0.8);
  border-radius: 2cqi;

}
#msg{
  width: 400px;
  height: 85px;
  border: 1px solid black;
  box-shadow:  0 0 10px rgba(128, 128, 128, 0.8);
  border-radius: 2cqi;

}
#bn{
  width: 200px;
  height: 65px;
  background-color: rgb(41, 92, 222);
  border-radius: 5%;
}
#bn:hover{
  background-color: rgb(32, 73, 176);
}
